@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font: 1.2rem 'Mulish', sans-serif;
  width: 95vw;
  margin: 1rem auto;
}

h1,
h2 {
  font: 100 45px 'Abril Fatface', cursive;
  letter-spacing: 1px;
}

h2 {
  font-size: 50px;
}

h3 {
  margin: 1rem 0;
}

.heading-medium {
  margin: 1rem auto;
}

p {
  font-family: 'Mulish', sans-serif;
  line-height: 180%;
}
.hightlight {
  position: relative;
  z-index: 2;
}
.hightlight::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  width: 100%;
  z-index: -1;
  background-color: #ffe872;
  transform: translate(4px);
}

.section-header {
  position: relative;
  background-color: #90e0ef;
  padding: 2rem 5rem;
  min-height: 95%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.navigation__logo {
  font-weight: 700;
}
.navigation__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navigation__list {
  padding: 0 1rem;
}

.navigation__link {
  position: relative;
  text-decoration: none;
  color: #000;
  z-index: 2;
}

.navigation__link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8px;
  width: 100%;
  z-index: -1;
  background-color: #ffe872;
  transform: translateX(4px);
}

.hero {
  margin: 5rem 0;
  width: 650px;
}

.hero__paragraph {
  width: 500px;
}

.btn-group {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  /* align-items: center; */
  transition: all 0.4s;
}

.btn {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  margin: 64px auto;
  background-color: #000;
  color: #fff;
  padding: 16px 38px;
  z-index: 2;
  transition: all 0.4s;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #fff;
  z-index: 1000;
}

.btn::after {
  content: '';
  transition: all 0.4s;
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 2px solid #000;
}

.btn:active {
  transform: translate(5px, 5px);
}

.btn:active:after {
  top: 0;
  left: 0;
}

.btn-secondary {
  color: #000;
  background-color: #90e0ef;
  border: 1px solid #90e0ef;
}

.btn-secondary::after {
  border: 2px solid #90e0ef;
}

/* Scroll */

.scroll {
  position: absolute;
  bottom: 2rem;
  right: 10rem;
  transform: translate(50%, 80%) rotate(90deg);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100px;
  transition: all 0.4s;
}

.scroll_line {
  width: 100px;
  height: 2px;
  background-color: #000;
  animation: scroll 2s infinite;
}

/* Work section */

.section-work {
  padding: 1rem 5rem;
}

.work {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest__work {
  color: #b7b4b9;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  margin-left: 5px;
}

ul {
  display: inline-block;
}
.tag-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  font-size: 0.9rem;
  font-weight: bold;
  width: 450px;
  justify-content: space-between;
}

.tag-item {
  background-color: #90e0ef;
  padding: 0.5rem 1rem;
}

.work__left {
  width: 49%;
}

.work__left p {
  max-width: 500px;
}

.work__right {
  width: 49%;
}

.footer__work {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #90e0ef;
  margin-top: 5rem;
  padding: 5rem;
  height: 20rem;
}

.copy-right {
  font-size: 1rem;
  color: #565556;
  position: absolute;
  bottom: 1rem;
  left: 5rem;
}

a {
  color: #000;
  text-decoration: none;
}

/* Animation */
@keyframes scroll {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@media (max-width: 1100px) {
  .hero {
    width: 100%;
  }
  .work {
    margin-top: 10rem;
    display: block;
  }
  .work__left {
    width: 100%;
  }
  .work__right {
    width: 100%;
  }
  .work__left p {
    margin: 1rem auto;
    max-width: fit-content;
  }

  .footer__work {
    display: block;
  }
  .btn-group {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .navigation__link {
    font-size: 1rem;
  }
  .work__right img {
    width: 100%;
  }

  .work {
    margin-top: 5rem;
  }
  .footer__work {
    font-size: 1rem;
  }

  h1,
  h2 {
    font-size: 30px;
  }

  .section-header,
  .section-work {
    padding: 0.75rem 3rem;
  }
  .section-header {
    min-height: fit-content;
  }

  .hero__paragraph {
    width: 100%;
  }

  .btn {
    margin: 1rem auto;
    padding: 10px 28px;
    font-size: 1rem;
  }

  .scroll {
    display: none;
  }
}

@media (max-width: 500px) {
  .section-header {
    min-height: fit-content;
  }
  .hero__paragraph,
  .work__left p,
  .work__right p {
    width: auto;
    font-size: 1rem;
  }
  .section-header,
  .section-work,
  .footer__work {
    padding: 0.5rem 2rem;
  }
  .tag-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-size: 0.65rem;
    font-weight: bold;
    width: 100%;
    justify-content: space-between;
  }
  .copy-right {
    font-size: 0.75rem;
    color: #696969;
    position: absolute;
    bottom: 0;
    left: 25%;
  }

  .footer__work {
    height: 15rem;
  }
}

@media (max-width: 450px) {
  .hero {
    margin: 2rem 0;
  }
  .navigation__link {
    font-size: 0.75rem;
  }
  body {
    text-align: center;
  }

  .tag-list {
    margin: 0 auto;
    text-align: center;
    display: block;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-size: 0.65rem;
    font-weight: bold;
    width: 50%;
    height: 100%;
    justify-content: space-between;
  }

  .work__right img {
    width: 100%;
  }

  .tag-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .btn-group {
    flex-direction: column;
    gap: 0rem;
  }
}

@media (max-width: 450px) {
  .copy-right {
    left: 15%;
  }
}
